#Categories {
  width: 100%;
  height: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 165px;
}

#Categorie1 {
  width: 262px;
  height: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Categorie1 h1 {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #1e1e1e;
}

#Categorie1 p {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(30, 30, 30, 0.5);
}

#Categorie2 {
  width: 100%;
  height: 788px;
  background: #c1dcdc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 96px;
}

#boxeCategories2 {
  width: 352px;
  height: 692px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#boxeCategories2 img {
  border-radius: 12px;
  margin: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#boxeCategories2 h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #1e1e1e;
}

#boxeCategories2 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: rgba(30, 30, 30, 0.5);
}

#boxeCategories2 button {
  width: 147px;
  height: 51px;
  background: #ffffff;
  border-radius: 8px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #1e1e1e;
}

#boxeCategories2 button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 1px solid #000;
}

.boxeCategories2 {
  width: 352px;
  height: 551px;
  margin-bottom: 338px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.boxeCategories2 img {
  border-radius: 12px;
  margin: 0;
}

.boxeCategories2 h1 {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #1e1e1e;
}

#none {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #Categories {
    width: 100%;
    height: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 105px;
    overflow: hidden;
  }

  #Categorie2 {
    width: 100%;
    height: 788px;
    background: #c1dcdc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  #boxeCategories2 {
    width: 352px;
    height: 692px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .boxeCategories2 {
    width: 352px;
    height: 551px;
    margin: 0;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  #right {
    align-items: flex-end;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  #Categories {
    width: 100%;
    height: 1200px;
  }

  #Categorie2 {
    width: 100%;
    height: 900px;
  }

  .boxeCategories2 {
    display: none;
  }

  .boxeCategories2 h1 {
    text-align: center;
  }

  #none {
    display: block;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1248px) {
  #Categories {
    width: 100%;
  }

  #Categorie2 {
    gap: 0;
  }
}

@media screen and (min-width: 260px) and (max-width: 360px) {
  #Categories {
    width: 100%;
    height: 900px;
  }

  #Categorie2 {
    width: 100%;
    height: 900px;
    background: #fff;
  }

  #boxeCategories2 {
    width: 98%;
    align-items: center;
    justify-content: center;
  }

  #boxeCategories2 h1{
    text-align: center;
  }

  #boxeCategories2 button{
    background: #c1dcdc;
    color: #000;
  }

  #boxeCategories2 button:hover{
    border: #fff;
  }

  #boxeCategories2 img{
    height: 57%;
    width: 100%;
    box-shadow: none;
  }

  .boxeCategories2 {
    display: none;
  }

  .boxeCategories2 h1 {
    text-align: center;
  }

  #none {
    display: block;
  }
}
