#Features {
    width: 1248px;
    height: 348px;
    margin-top: 79px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  #title {
    width: 430px;
    height: 87px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  
  #title h1 {
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #1e1e1e;
  }
  #title p {
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(30, 30, 30, 0.5);
  }
  
  #Boxes {
    width: 1248px;
    height: 213px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .featuresBoxes {
    width: 400px;
    height: 213px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  
  .featuresBoxes h1 {
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
  }
  
  .featuresBoxes p {
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: rgba(30, 30, 30, 0.5);
  }
  