#Feedback {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#FeedTitle {
  width: 1248px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: left;
}

#FeedTitle h1 {
  width: 457px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
}

#scroll {
  margin-top: 48px;
  width: 1248px;
  height: 400px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  scroll-padding: 24px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  background: #fff;
}

#scroll .Scrollitem {
  width: 800px;
  height: 330px;
  background: #c1dcdc;
  border-radius: 12px;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#scroll .Scrollitem img {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: inline-block;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #FeedTitle {
    width: 100%;
    justify-content: center;
  }

  #FeedTitle h1 {
    text-align: center;
  }

  #scroll {
    width: 90%;
  }

  #scroll .Scrollitem {
    width: 690px;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  #FeedTitle {
    width: 100%;
    justify-content: center;
    margin-top: 40px;
  }

  #FeedTitle h1 {
    text-align: center;
  }

  #scroll {
    width: 90%;
    height: 900px;
  }

  #scroll .Scrollitem {
    width: 340px;
    height: 500px;
    background: url(../assets/Frame\ 45\ \(2\).svg) no-repeat center #c1dcdc;
  }

  #scroll .Scrollitem img{
    display: none;
  }

}
