#Feedback {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#FeedTitle {
  width: 1248px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: left;
}

#FeedTitle h1 {
  width: 457px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
}

#scroll {
  margin-top: 48px;
  width: 1248px;
  height: 400px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  scroll-padding: 24px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  background: #fff;
}

#scroll .Scrollitem {
  width: 800px;
  height: 330px;
  background: #c1dcdc;
  border-radius: 12px;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#scroll .Scrollitem img {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: inline-block;
}


